<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
						<input id="id" name="id" th:value="${merchant.id}"  type="hidden">
							<div class="form-group">	
								<label class="col-sm-3 control-label">商户号：</label>
								<div class="col-sm-8">
									<input id="merchantNo" name="merchantNo" th:value="${merchant.merchantNo}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">用户id：</label>
								<div class="col-sm-8">
									<input id="mid" name="mid" th:value="${merchant.mid}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">秘钥：</label>
								<div class="col-sm-8">
									<input id="secretKey" name="secretKey" th:value="${merchant.secretKey}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">回调接口：</label>
								<div class="col-sm-8">
									<input id="callbackUrl" name="callbackUrl" th:value="${merchant.callbackUrl}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">支付成功url：</label>
								<div class="col-sm-8">
									<input id="returnUrl" name="returnUrl" th:value="${merchant.returnUrl}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">创新时间：</label>
								<div class="col-sm-8">
									<input id="createTime" name="createTime" th:value="${merchant.createTime}" class="form-control" type="text">
								</div>
							</div>
																					<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/system/merchant/edit.js">
	</script>
</body>
</html>
