<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="col-sm-12">
			<h1 style="margin-left: 25px;">码子使用情况</h1>
			<div class="row" style="margin-left: 30px;">
				<div class="col-sm-2 col-md-2" th:each="cd:${codeStatusInfo}">
					<div class="thumbnail">
						<div class="caption">
							<h2>￥<span class="control-label" th:text="${cd.amount}"></span></h2>
							<h3>数量：<span class="control-label" th:text="${cd.count}"></span></h3>
							<p style="margin: 0 0 0;">状态：<span th:text="${cd.status}"></span> </p>
						</div>
					</div>
				</div>
			</div>
			<hr>
			<div class="ibox">
				<div class="ibox-body">
					<div class="fixed-table-toolbar">
						<div class="columns pull-left">
							<button shiro:hasPermission="system:tbOrder:add" type="button" class="btn  btn-primary" onclick="add()">
								<i class="fa fa-plus" aria-hidden="true"></i>添加
							</button>
							<button shiro:hasPermission="system:tbOrder:batchRemove" type="button" class="btn  btn-danger"
								onclick="batchRemove()">
								<i class="fa fa-trash" aria-hidden="true"></i>删除
							</button>
						</div>
						<div class="columns col-md-2 nopadding">
							淘宝订单号:<input id="no" type="text" class="form-control" placeholder="">
						</div>
						<div class="columns col-md-2 nopadding">
							金额:<input id="amount" type="text" class="form-control" placeholder="">
						</div>
						<div class="columns col-md-2 nopadding">
							状态:
							<select id="status" name="status" class="form-control">
								<option value="">请选择</option>
								<option value="enable">启用</option>
								<option value="disable">禁用</option>
								<option value="finish">完成</option>
								<option value="delete">删除</option>
							</select>
						</div>

						<div class="columns pull-right">
							<button class="btn btn-success" onclick="reLoad()">查询</button>
						</div>

					</div>
					<table id="exampleTable" data-mobile-responsive="true">
					</table>
				</div>
			</div>
		</div>
	</div>
	<!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案 -->
		<div>
			<script type="text/javascript">
				var s_edit_h = 'hidden';
				var s_remove_h = 'hidden';
				var s_resetPwd_h = 'hidden';
			</script>
		</div>
		<div shiro:hasPermission="system:tbOrder:edit">
			<script type="text/javascript">
				s_edit_h = '';
			</script>
		</div>
		<div shiro:hasPermission="system:tbOrder:remove">
			<script type="text/javascript">
				var s_remove_h = '';
			</script>
		</div>
		<div shiro:hasPermission="system:tbOrder:resetPwd">
			<script type="text/javascript">
				var s_resetPwd_h = '';
			</script>
		</div>
	</div>
	<div th:include="include :: footer"></div>
	<script type="text/javascript" src="/js/appjs/system/tbOrder/tbOrder.js"></script>
</body>
</html>