<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.system.dao.OrderDao">

	<select id="get" resultType="com.bootdo.system.domain.OrderDO">
		select `id`,`order_no`,`merchant_no`,`amount`,`really_amount`,`create_time`,`finish_time`,`status`,`payment_info`,`remark`,`merchant_order_no`,`mid`, `pay_type` from rs_order where id = #{value}
	</select>

	<select id="list" resultType="com.bootdo.system.domain.OrderDO">
		select `id`,`order_no`,`merchant_no`,`amount`,`really_amount`,`create_time`,`finish_time`,`status`,`payment_info`,`remark`,`merchant_order_no`,`mid`, `pay_type` from rs_order
        <where>
			<if test="id != null and id != ''"> and id = #{id} </if>
			<if test="orderNo != null and orderNo != ''"> and order_no = #{orderNo} </if>
			<if test="merchantNo != null and merchantNo != ''"> and merchant_no = #{merchantNo} </if>
			<if test="merchantOrderNo != null and merchantOrderNo != ''"> and merchant_order_no = #{merchantOrderNo} </if>
			<if test="status != null and status != ''"> and status = #{status} </if>
			<if test="roleId != null and app == 60">and merchant_no = #{merchantNo}</if>
			<if test="roleId != null and app == 61">and mid = #{mid}</if>
		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from rs_order
		 <where>
			 <if test="id != null and id != ''"> and id = #{id} </if>
			 <if test="orderNo != null and orderNo != ''"> and order_no = #{orderNo} </if>
			 <if test="merchantNo != null and merchantNo != ''"> and merchant_no = #{merchantNo} </if>
			 <if test="merchantOrderNo != null and merchantOrderNo != ''"> and merchant_order_no = #{merchantOrderNo} </if>
			 <if test="status != null and status != ''"> and status = #{status} </if>
			 <if test="roleId != null and app == 60">and merchant_no = #{merchantNo}</if>
			 <if test="roleId != null and app == 61">and mid = #{mid}</if>
		</where>
	</select>
	 
	<insert id="save" parameterType="com.bootdo.system.domain.OrderDO">
		insert into rs_order
		(
			`order_no`, 
			`merchant_no`, 
			`amount`, 
			`really_amount`, 
			`create_time`, 
			`finish_time`, 
			`status`, 
			`payment_info`, 
			`remark`,
		 	`mid`,
			`merchant_order_no`,
			`pay_type`

		)
		values
		(
			#{orderNo}, 
			#{merchantNo}, 
			#{amount}, 
			#{reallyAmount}, 
			#{createTime}, 
			#{finishTime}, 
			#{status}, 
			#{paymentInfo}, 
			#{remark},
			#{mid},
			#{merchantOrderNo},
			#{payType}
		)
	</insert>
	 
	<update id="update" parameterType="com.bootdo.system.domain.OrderDO">
		update rs_order 
		<set>
			<if test="orderNo != null">`order_no` = #{orderNo}, </if>
			<if test="merchantNo != null">`merchant_no` = #{merchantNo}, </if>
			<if test="amount != null">`amount` = #{amount}, </if>
			<if test="reallyAmount != null">`really_amount` = #{reallyAmount}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="finishTime != null">`finish_time` = #{finishTime}, </if>
			<if test="status != null">`status` = #{status}, </if>
			<if test="paymentInfo != null">`payment_info` = #{paymentInfo}, </if>
			<if test="remark != null">`remark` = #{remark}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from rs_order where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from rs_order where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

	<update id="cancel" parameterType="com.bootdo.system.domain.OrderDO">
		update rs_order
		<set>

			<if test="status != null">`status` = #{status}, </if>

		</set>
		where order_no = #{orderNo} and status = 'pre_pay'
	</update>

</mapper>