<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
						<input id="id" name="id" th:value="${member.id}"  type="hidden">
							<div class="form-group">	
								<label class="col-sm-3 control-label">昵称：</label>
								<div class="col-sm-8">
									<input id="nickName" name="nickName" th:value="${member.nickName}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">用户名：</label>
								<div class="col-sm-8">
									<input id="username" name="username" th:value="${member.username}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">密码：</label>
								<div class="col-sm-8">
									<input id="password" name="password" th:value="${member.password}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">创建时间：</label>
								<div class="col-sm-8">
									<input id="createTime" name="createTime" th:value="${member.createTime}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">邀请码：</label>
								<div class="col-sm-8">
									<input id="ownerInviteCode" name="ownerInviteCode" th:value="${member.ownerInviteCode}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">推荐人邀请码：</label>
								<div class="col-sm-8">
									<input id="sourceInviteCode" name="sourceInviteCode" th:value="${member.sourceInviteCode}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">总额：</label>
								<div class="col-sm-8">
									<input id="totalAmount" name="totalAmount" th:value="${member.totalAmount}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">可用余额：</label>
								<div class="col-sm-8">
									<input id="freeAmount" name="freeAmount" th:value="${member.freeAmount}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">冻结额度：</label>
								<div class="col-sm-8">
									<input id="lockAmount" name="lockAmount" th:value="${member.lockAmount}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">总盈利：</label>
								<div class="col-sm-8">
									<input id="profitAmount" name="profitAmount" th:value="${member.profitAmount}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">在途资金：</label>
								<div class="col-sm-8">
									<input id="transitAmount" name="transitAmount" th:value="${member.transitAmount}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">会员等级：</label>
								<div class="col-sm-8">
									<input id="level" name="level" th:value="${member.level}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">佣金比例：</label>
								<div class="col-sm-8">
									<input id="commissionRate" name="commissionRate" th:value="${member.commissionRate}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">银行卡号：</label>
								<div class="col-sm-8">
									<input id="bankNo" name="bankNo" th:value="${member.bankNo}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">开户人姓名：</label>
								<div class="col-sm-8">
									<input id="bankName" name="bankName" th:value="${member.bankName}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">身份证：</label>
								<div class="col-sm-8">
									<input id="cardNo" name="cardNo" th:value="${member.cardNo}" class="form-control" type="text">
								</div>
							</div>
																					<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/system/member/edit.js">
	</script>
</body>
</html>
