<html>
<body>

<div class="fixed-table-body">
    <div class="fixed-table-loading" style="top: 38px; display: none;">正在努力地加载数据中，请稍候……</div>
    <table id="exampleTable" data-mobile-responsive="true" class="table table-hover table-striped">
        <thead>
        <tr>
            <th class="bs-checkbox " style="width: 36px; " data-field="0" tabindex="0">
                <div class="th-inner "><input name="btSelectAll" type="checkbox"></div>
                <div class="fht-cell"></div>
            </th>
            <th style="" data-field="roleId" tabindex="0">
                <div class="th-inner ">序号</div>
                <div class="fht-cell"></div>
            </th>
            <th style="" data-field="roleName" tabindex="0">
                <div class="th-inner ">角色名</div>
                <div class="fht-cell"></div>
            </th>
            <th style="" data-field="remark" tabindex="0">
                <div class="th-inner ">备注</div>
                <div class="fht-cell"></div>
            </th>
            <th style="" data-field="" tabindex="0">
                <div class="th-inner ">权限</div>
                <div class="fht-cell"></div>
            </th>
            <th style="text-align: center; " data-field="roleId" tabindex="0">
                <div class="th-inner ">操作</div>
                <div class="fht-cell"></div>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr data-index="0">
            <td class="bs-checkbox"><input data-index="0" name="btSelectItem" type="checkbox"></td>
            <td style="">61</td>
            <td style="">码商</td>
            <td style="">码商专用</td>
            <td style="">-</td>
            <td style="text-align: center; "><a class="btn btn-primary btn-sm " href="#" mce_href="#" title="编辑"
                                                onclick="edit('61')"><i class="fa fa-edit"></i></a> <a
                    class="btn btn-warning btn-sm " href="#" title="删除" mce_href="#" onclick="remove('61')"><i
                    class="fa fa-remove"></i></a></td>
        </tr>
        <tr data-index="1">
            <td class="bs-checkbox"><input data-index="1" name="btSelectItem" type="checkbox"></td>
            <td style="">60</td>
            <td style="">商户</td>
            <td style="">商户专用</td>
            <td style="">-</td>
            <td style="text-align: center; "><a class="btn btn-primary btn-sm " href="#" mce_href="#" title="编辑"
                                                onclick="edit('60')"><i class="fa fa-edit"></i></a> <a
                    class="btn btn-warning btn-sm " href="#" title="删除" mce_href="#" onclick="remove('60')"><i
                    class="fa fa-remove"></i></a></td>
        </tr>
        <tr data-index="2">
            <td class="bs-checkbox"><input data-index="2" name="btSelectItem" type="checkbox"></td>
            <td style="">59</td>
            <td style="">普通用户</td>
            <td style="">基本用户权限</td>
            <td style="">-</td>
            <td style="text-align: center; "><a class="btn btn-primary btn-sm " href="#" mce_href="#" title="编辑"
                                                onclick="edit('59')"><i class="fa fa-edit"></i></a> <a
                    class="btn btn-warning btn-sm " href="#" title="删除" mce_href="#" onclick="remove('59')"><i
                    class="fa fa-remove"></i></a></td>
        </tr>
        <tr data-index="3">
            <td class="bs-checkbox"><input data-index="3" name="btSelectItem" type="checkbox"></td>
            <td style="">1</td>
            <td style="">超级用户角色</td>
            <td style="">拥有最高权限</td>
            <td style="">-</td>
            <td style="text-align: center; "><a class="btn btn-primary btn-sm " href="#" mce_href="#" title="编辑"
                                                onclick="edit('1')"><i class="fa fa-edit"></i></a> <a
                    class="btn btn-warning btn-sm " href="#" title="删除" mce_href="#" onclick="remove('1')"><i
                    class="fa fa-remove"></i></a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>