<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="col-sm-12">
			<div class="ibox">
				<div class="ibox-body">
					<div class="fixed-table-toolbar">
						<input type="hidden" id="chanel_id" th:value="${chanleId}">
						<div class="columns pull-left col-md-2 nopadding">
							平台订单号：<input id="searchOrderNo" type="text" class="form-control"
								   placeholder="">
						</div>
						<div class="columns pull-left col-md-2 nopadding">
							商户订单号：<input id="searchMechantOrderNo" type="text" class="form-control"
										 placeholder="">
						</div>
						<div class="columns pull-left">
							<button class="btn btn-success" onclick="reLoad()">查询</button>
						</div>
					</div>
					<table id="exampleTable" data-mobile-responsive="true">
					</table>
				</div>
			</div>
		</div>
	</div>
	<!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案 -->
		<div>
			<script type="text/javascript">
				var s_edit_h = 'hidden';
				var s_remove_h = 'hidden';
				var s_resetPwd_h = 'hidden';
			</script>
		</div>
		<div shiro:hasPermission="system:order:edit">
			<script type="text/javascript">
				s_edit_h = '';
			</script>
		</div>
		<div shiro:hasPermission="system:order:remove">
			<script type="text/javascript">
				var s_remove_h = '';
			</script>
		</div>
		<div shiro:hasPermission="system:order:resetPwd">
			<script type="text/javascript">
				var s_resetPwd_h = '';
			</script>
		</div>
	</div>
	<div th:include="include :: footer"></div>
	<script src="/js/appjs/oa/webSocket/sockjs.min.js"></script>
	<script src="/js/appjs/oa/webSocket/stomp.min.js"></script>
	<script type="text/javascript" src="/js/appjs/system/order/order.js"></script>
    <script type="text/javascript">
		var stompClient = null;
		$(function () {
			connect();
		});
		function connect() {
			var chanelId = $("#chanel_id").val();
			var sock = new SockJS("/endpointChat");
			var stomp = Stomp.over(sock);
			stomp.connect('guest', 'guest', function(frame) {
				stomp.subscribe('/topic/'+chanelId+'/getOrderNo', function (response) {
					console.info("XXXXXXXXXXXXXXXXXXXXXXX" + response);
					reLoad();
				});
			});
		}

	</script>
</body>
</html>